body {
	background-image: url("ECE_Campus.jpg");
	animation: animationFond 5s linear infinite; 
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	opacity: 1.5;
	}
form {
	margin-top: 100px;
	padding: 20px;
	background-color: white;
	width: 400px;
	margin: auto;
	border-radius: 10px;
	}
h1 {
	font-size: 40px;
	font-family: "Arial Black", sans-serif;
	color: #0d01ba;
	text-align: center;
	text-shadow: 2px 2px 2px #999; 
	}
/*Bandeau haut page*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.913);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
label {
	display: block;
	margin-top: 10px;
	}
input[type="text"],input[type="password"] {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	}
input[type="submit"] {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	}
select {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 10px;
	}
#footer{
    background-color: rgb(57, 57, 120);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    }
img{
	max-width: 150px;
	max-height: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}	
